*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: roboto;
    text-decoration: none;
}

:root {
    --white-bg: white;
}

/* body */
.content-body {
    display: block;
    margin: 0 auto;
    width: 90%;
}
/* body */



/* bannner top */

/* bannner top */



/* === header === */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
}
.img-capa-header {
    width: 100%;
    height: calc(100vw/5);
    border-radius: 0 0 20px 20px;
}
.img-profile-header {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    border: 4px solid var(--white-bg);
}
.title-page {
    text-align: center;
}
.rss {
    display: flex;
    justify-content: left;
    gap: 10px;
}
.rs {
    width: 50px;
    height: 50px;
    background-color: #bbb;
    border-radius: 10px;
}
/* === header === */



/* === main === */
/* nav */
.nav-categorias {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    /* border-bottom: 3px solid black; */
    position: sticky;
    top: 0px;
    background-color: white;
}
.item-nav-cat {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
}
/* nav */

/* produto */
.content-produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.produto {
    background-color: white;
    border-radius: 10px;
    max-width: 500px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.nome-produto {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.desc-produto {
    width: 300px;
    font-size: 0.8rem;
}

.img-produto {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
}

/* produto */

/* === main === */



/* === footer === */
.copyrigth {
    text-align: center;
}
/* === footer === */